<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Image Upload</h1>
    <a href="/">home</a>
    <br><br>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
      </div>
      <div>
        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
      </div>
      <button type="submit">Upload</button>
    </form>

    <hr>
    <h1>Image Gallery test</h1>
    <% if (images.length > 0) { %>
        <% images.forEach(function(image) { %>
          <div>
            <h3>Title: <%= image.title %></h3>
            <img src="data:image/jpeg;base64,<%= image.image.toString('base64') %>" alt="Image">
          </div>
        <% }); %>
    <% } else { %>
           <p>No images found.</p>
    <% } %>
    
</body>
</html>