<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="/img/ali.png" type="image/png" />
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
    <title>Hjem</title>
  </head>
  <body class="">
    <div class="container px-5">
    
       <div class="row">


         
           <!-- start img  -->
           <h1 class="text-center m-5">Image Gallery test</h1>
           <% if (images.length > 0) { %>  
               <% images.forEach(function(image) { %>
                <div class="col-md-4">
                 <div >
                   <h3>Title: <%= image.title %></h3>
                   <img src="data:image/jpeg;base64,<%= image.image.toString('base64') %>" alt="Image">
                 </div>
                </div>
               <% }); %>
           <% } else { %>
                  <p>No images found.</p>
           <% } %>
           <!-- end img  -->
          






       </div>
       
         
      
       
      <br />
      <footer class="m-5 pt-5 text-white fw-light opacity-25">
        <small> &copy; alialrubay499@gmail.com , 2023</small>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <!----===========================================================================----->
    <script>
      const myForm = document.getElementById("myForm");
      const input = document.getElementById("answer");
      const ask = document.getElementById("ask");

      myForm.addEventListener("submit", async () => {
        const answervalue = input.value;
        const askvalue = ask.innerText;
        try {
          if (answervalue == "") {
            alert("pleas fill the input !");
            return;
          } else {
            const requestOptions = {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                answervalue: answervalue,
                askvalue: askvalue,
              }),
            };

            fetch("/data", requestOptions)
              .then((response) => response.json())
              .then((data) => console.log(data))
              .catch((error) => console.error(error));
          }
        } catch (error) {
          console.log(error);
        }
      });
    </script>
    <!----===========================================================================----->
    <script>
      function reloadPage() {
        window.location.reload();
      }
    </script>
  </body>
</html>
